   <!-- Home Content -->
   <!--Load JavaScript-->
   {% load static %}
   <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
   <script type='text/javascript' src="{% static 'js/imagesloaded.pkgd.js' %}"></script>
   <script type='text/javascript' src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
   <script type='text/javascript' src="{% static 'js/jquery.smartmenus.min.js' %}"></script>
   <script type='text/javascript' src="{% static 'js/jquery.carouFredSel-6.0.0-packed.js' %}"></script>
   <script type='text/javascript' src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
   <script type='text/javascript' src="{% static 'js/jquery.touchSwipe.min.js' %}"></script>
   <script type='text/javascript' src="{% static 'js/jquery.easing.1.3.js' %}"></script>
   <script type='text/javascript' src="{% static 'js/main.js' %}"></script>
   <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js'></script>
   <script type='text/javascript' src="{% static 'js/custom_google_map_style.js' %}"></script>
   <script type='text/javascript' src="{% static 'js/main.js' %}"></script>
   <script type='text/javascript' src='https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=qagffr3pkuv17a8on1afax661irst1hbr4e6tbv888sz91jc'></script>
   <script type='text/javascript' src="{% static 'js/tinymce.js' %}"></script>
  <!--  <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
   <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js'></script> -->