{% extends "base.html" %}
{% load static %}
{% block title %}
Articles
{% endblock %}
<script type='text/javascript' src="{% static 'js/tinymce.js' %}"></script>
    {% block content %}
        <table class="doc-loader">
            <tbody>
                <tr>
                    <td>
                        <img src="{% static 'images/ajax-document-loader.gif' %}" alt="Loading...">
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Left Sidebar -->
       
        <!-- Home Content -->
        
            <div id="content" class="site-content">
                <div id="blog-wrapper">
                    <div class="blog-holder center-relative">

                        {% for articles in article %}
                        <article id="post-1" class="blog-item-holder featured-post">
                            <div class="entry-content relative">
                                <div class="content-1170 center-relative">
                                    <div class="cat-links">
                                        <ul>
                                            <li>
                                                <a href="#">{{articles.title}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="entry-date published">{{articles.updated_at}}</div>
                                    <h2 class="entry-title">
                                        <a href="{% url 'articles:single' %}">{{articles.title}}</a>
                                    </h2>
                                    <div class="excerpt">
                                        {{articles.article|striptags}}<a class="read-more" href="{% url 'articles:single' %}"></a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </article>
                        {% endfor %}

                <!--         <article id="post-2" class="blog-item-holder">
                            <div class="entry-content relative">
                                <div class="content-1170 center-relative">
                                    <h2 class="entry-title">
                                        <a href="{% url 'articles:single' %}">I like to reinvent myself</a>
                                    </h2>
                                    <div class="cat-links">
                                        <ul>
                                            <li>
                                                <a href="#">Science</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="entry-date published">{February 12, 2016}</div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </article> -->    
        


                    </div>
                    <div class="clear"></div>
                    <div class="block load-more-holder">LOAD MORE ENTRIES</div>
                </div>
                <div class="featured-image-holder">
                    <div class="featured-post-image" style="background-image: url(demo-images/featured-image.jpg)"></div>
                </div>
                <div class="clear"></div>
                <form action="{% url 'articles:index' %}" method = "POST" enctype = "mulipart/form-data">  
                    <input type="text" name="categories" placeholder = "category" required="required">
                    <input type = "text" name = "title" placeholder = "Article" required = "required">{% csrf_token %}
                    <textarea name="article"></textarea>
                    <button type="submit" class="btn btn-outline-success">Success</button>
                </form>
            </div>  
        
    {%  endblock %}

